page-home {
   

#imgFondEcranA
{
position: absolute;
width: 100%; 
}

#imgFondEcranA
{
position: absolute;
width: 100%; 
}

#imgLogo
{
position: absolute;
margin-top: 50px;
margin-left:45px;
}

#formulaireInscription
{
margin-top: 350px; 
}

#BInscription
{
    text-align: center;
    
}

#wrapperConnexion
{
    width: 200px;
    margin-left: 85px;
 
}

#BConnexion
{
    background-color:#50c9f4;
}

}
